<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}:%M(%L) - %msg%n" />
<!-- 			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c:%M(%L) - %msg%n" /> -->
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>
		<!--  custom loggers below -->
		<!-- 
		<Logger name="com.elephantscale.metrics.app.Producer" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        -->
	</Loggers>
</Configuration>